# SPDX-FileCopyrightText: 2023 Mark Rotteveel
# SPDX-License-Identifier: Apache-2.0
output/
out/
gen/
build_*.bat
.idea/
classes/
*.iml
*.eml
*.fdb
*.FDB
.settings/
/junit*.properties
.project
.classpath

/integration-test-local.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
