# SPDX-FileCopyrightText: 2023 Mark Rotteveel
# SPDX-License-Identifier: Apache-2.0
* text=auto

*.csv           text    eol=crlf
*.css           text
*.df            text
*.htm           text
*.html          text
*.java          text
*.properties    text
*.sh            text
*.txt           text
*.xml           text    eol=lf
*.bat           text    eol=crlf
*.adoc          text
*.gradle        text

*.class         binary
*.dll           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.dat           binary

gradlew         text    eol=lf