# SPDX-FileCopyrightText: 2023 Mark Rotteveel
# SPDX-License-Identifier: Apache-2.0
name: run-tests

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808
      - name: Test with Gradle
        run: ./gradlew test
      - name: Store Report Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: report-artifacts
          path: build/reports
          compression-level: 9
          retention-days: 1
